{% extends "base.htm" %}

{% block title %}Add New User{% endblock %}
{% block content %}
	<script type="text/javascript">
	    $(function () {
	        $("#testt").datepicker();
	    });
	</script>
<form id="frmAddUser" method="post" action="" >
<table id="userTable">
<tr>
<td>User Name:</td>
<td><input id="txtUserName" name="Name" type="text" />  
<script>    $("input[name='Name']").val("hisham");</script>

</td>
</tr>
<tr>
<td>Email:</td>
<td>
<div>
<input id="txtEmail" name="txtEmail" type="text" />
</div>
  
</td>
</tr>
<tr>
<td colspan="2"><input id="btnSave" type="submit" value="Save" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-al" /> </td>
</tr>
</table>

<div>
<input id="testt" name="testt" type="text" />
</div>
</form>
{% endblock %}
{% block footer %}{% endblock %}

