{% extends "base.htm" %}

{% block title %}Add New User{% endblock %}
{% block content %}
<form id="frmAddUser" method="post" action="" >
<table id="userTable">
<tr>
<td>User Name:</td>
<td><input id="txtUserName" name="Name" type="text" />  
<script>    $("input[name='Name']").val("hisham");</script>

</td>
</tr>
<tr>
<td>Email:</td>
<td><input id="txtEmail" type="text" />  </td>
</tr>
<tr>
<td colspan="2"><input id="btnSave" type="submit" value="Save" /> </td>
</tr>
</table>
</form>
{% endblock %}
{% block footer %}{% endblock %}

