<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="shortcut icon"  href="img/WebShell.ico" title="WebShell" />  
	<link rel="Stylesheet" href="css/jquery-ui/jquery.ui.all.css"/>
	<script src="js/jquery-1.4.2.min.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.core.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.widget.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.datepicker.js" language="javascript" type="text/javascript"></script>
	<title>{% block title %}{% endblock %}</title>

</head>
<body>
{% include 'html/header.htm' %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% include 'html/footer.htm' %}
</body>
</html>